.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;


}


.sort {
    svg {
        transform: rotate(-90deg);
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    margin-top: 20px;
    margin-bottom: 40px;
}