.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;


}


.sort {
    position: relative;

    svg {
        transform: rotate(-90deg);
        transition: transform 150ms;
    }

    &.active {
        svg {
            transform: rotate(90deg);
        }
    }
}



.sort-dropdown {
    right: 0;
}

.sort-value {
    color: var(--gray-300);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 20px;
    margin-bottom: 40px;
}