.container {
  --main-padding: 20px;
  
  margin: 0 auto;
  padding: 0 var(--main-padding);
  max-width: calc(var(--container-width) + var(--main-padding));
  
  &-md {
    --container-width: 1840px;
  
  }

  &-sm {
    --container-width: 1140px;
  }
}
