:root {
  --gray-100: #000000;
  --gray-200: #111111;
  --gray-300: #757575;
  --gray-400: #7E7E7E;
  --gray-800: #8D8D8D;
  --gray-500: #CCCCCC;
  --gray-600: #E5E5E5;
  --gray-700: #F5F5F5;
  --gray-900: #FFFFFF;
  --accent: #9E3500;
}