.typography {
  display: inline-block;
}

.typography-h1 {
}

.typography-h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
}

.typography-h3 {
}

.typography-h4 {
}

.typography-body1 {
}

.typography-body2 {
  font-size: 16px;
  line-height: 24px;
}

.typography-bold {
  font-weight: 500;
}