.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.image {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

.image-loading {
    width: 100%;
    height: 490px;
    object-fit: cover;
    background-color: var(--gray-700);
    position: relative;

    .image {
        width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.messaging {}

.titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.prices {
    display: flex;
    gap: 8px;
}

.sale-price {
    color: var(--gray-400);
    text-decoration: line-through;
}


.category {
    color: var(--gray-400);
}

.curr-price {}