.container {
  --container-width: 1344px;
  --main-padding: 20px;

  margin: 0 auto;
  padding: 0 var(--main-padding);
  max-width: calc(var(--container-width) + var(--main-padding));

  &-sm {
    --container-width: 1100px;
  }
}
