.login-form {
  padding: 28px 0;
  max-width: 380px;
  margin: 0 auto;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 24px;
  }

  &__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: var(--gray-200);
    text-align: center;
  }

  &__form {
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__policy {
    color: var(--gray-800);
    font-size: 14px;
    padding: 20px 0;
    text-align: center;

    a {
      color: inherit;
    }
  }

  &__message {
    margin-top: 20px;
    font-size: 14px;
    color: var(--gray-800);
    text-align: center;

    a {
      color: var(--gray-200);
    }
  }
}
