.footer {
    padding: 40px 0;
    background: var(--gray-100);
    margin-top: auto;
}

.wrapper {}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.columns {
    display: flex;
    gap: 12px;
}

.column {
    min-width: 240px;
}

.column-title {
    font-size: 12px;
    color: var(--gray-900);
    margin-bottom: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.nav-link {
    font-size: 12px;
    color: var(--gray-400);
    text-decoration: none;
    width: max-content;
}

.socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.socials-link {
    svg path {
        transition: fill 100ms;
    }

    &:hover {
        svg path {
            fill: var(--gray-500);
        }
    }
}

.bottom {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.policy {
    font-size: 12px;
    color: var(--gray-300);
}

.bottom-links {
    display: flex;
    gap: 12px;
}

.bottom-link {
    font-size: 12px;
    color: var(--gray-300);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}