.cart {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    gap: 16px;
    align-self: stretch;
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
  }

  &__message {
    padding: 14px 20px;
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__message-title {
    font-size: 20px;
    font-weight: 500;
  }

  &__message-text {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    gap: 18px;
    color: var(--gray-200);

    a {
      color: inherit;
    }
  }

  &__title {
  }

  &__items {
    display: flex;
    gap: 20px;
    flex-direction: column;

    hr {
      border: none;
      height: 1px;
      width: 100%;
      background-color: var(--gray-600);
    }
  }

  &__right {
  }

}


.cart-summary {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-size: 34px;
    line-height: 33px;
    font-weight: 500;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__total {
    padding: 16px 0;
    border-top: 1px solid var(--gray-700);
    border-bottom: 1px solid var(--gray-700);

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__total-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }

  &__total-value {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }


}
