.product {
    display: flex;
    gap: 12px;
    text-decoration: none;
}

.img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    color: var(--gray-200);
}

.description {
    color: var(--gray-400);
    line-height: 100%;
}