.slider {
    width: 535px;
    flex-shrink: 0;
}

.thumbs {
    width: 60px;
    height: 100%;
}

.thumb-active {
    img {
        border: 1px solid var(--gray-600);
    }
}

.thumbs-img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid transparent;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    max-height: 535px;
}

.sliders {
    display: flex;
    max-height: 600px;
    gap: 20px;
}

.slider-wrapper {
    max-height: 535px;
    position: relative;
}

.slider-actions {
    position: absolute;
    bottom: 0;
    padding: 20px;
    right: 0;
    z-index: 2;
    display: flex;
    gap: 8px;
}

.slider-action-prev,
.slider-action-next {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    place-items: center;
    height: 36px;
    width: 36px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 999px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-700);
    }

    &:active {
        background-color: var(--gray-600);
    }
}


.slider-action-next {
    svg {
        transform: rotate(180deg);
    }
}