.card {
    position: relative;
    display: flex;
    width: 100%;
    height: 680px;
}

.image {
    width: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 100%;
}

.title {
    color: var(--gray-900)
}

.link {
    margin-top: 20px;
    width: max-content;
    position: relative;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.pre-title {
    color: var(--gray-900)
}