.header-top {
  background-color: var(--gray-700);
  padding: 5px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }


  &__nav {
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 15px;

  }

  &__nav-item {
    display: flex;
    align-items: center;

  }

  &__nav-link {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-200);
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--gray-100);
        text-decoration: underline;
      }
    }
  }

}


.header {
  //padding: 10px 0;
  min-height: 60px;
  position: sticky;
  top: 0;
  background-color: var(--gray-900);
  z-index: 2;

  &__wrapper {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  &__logo {
  }

  &__nav {
  }

  &__btns {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}

.nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;

  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: var(--gray-200);
    height: 100%;
    border-bottom: 2px solid transparent;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: var(--gray-200);
      }
    }
  }

}

.header-action-btn {
  padding: 6px;
  position: relative;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--gray-600);
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;


    position: absolute;
    top: -2px;
    right: -2px;
    background-color: var(--gray-100);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    color: var(--gray-900);
  }

}

