.titles {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 376px;
  flex-shrink: 0;
  height: max-content;
}


.sale-price {
  text-decoration: line-through;
  margin-left: 12px;
  color: var(--gray-400);
}

.colors {
  gap: 6px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-item, .color-item-active {
  width: 70px;
  height: 70px;
  display: inline-block;

  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.color-item-active {
  border: 1px solid var(--gray-600);
}