.items {
    display: flex;
    gap: 20px;
    flex-direction: column;

    hr {
        border: none;
        height: 1px;
        width: 100%;
        background-color: var(--gray-600);
    }
}

.message {}