.product-card {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &__link-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  &__img {
    width: 100%;
    height: 348px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__messaging {
    color: var(--accent);
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &__title {
    font-size: 15px;
    line-height: 24px;
    color: var(--gray-200);
    font-weight: 500;
  }

  &__subtitle {
    color: var(--gray-300);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  &__count {
    color: var(--gray-300);
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  &__price {
    color: var(--gray-100);
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
  }

}
