.card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titles {
    display: flex;
    flex-direction: column;
}

.prices {
    display: flex;
    gap: 8px;
}

.category {
    color: var(--gray-400)
}

.sale-price {
    color: var(--gray-400)
}

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}